.color-picker {
    display: none;
    
    &__wrapper {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 25;
    }

    &__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 430px;
        height: fit-content;
        background-color: #fff;
        z-index: 12;
        border: 1px solid rgb(181, 181, 181);
        border-radius: 10px;
        padding: 10px 20px 20px;
    }
    &__header {
        display: flex;
        justify-content: flex-start;
    }
    &__close-button {
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        span {
            display: block;
            position: absolute;
            width: 28px;
            height: 4px;
            border-radius: 2px;
            background-color: #636363;
            top: 50%;
            left: 0;
            transform: translate();
            &:nth-child(1) {
                transform: translate(0, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translate(0, -50%) rotate(315deg);
            }
            transition: all 0.3s ease;
        }
        &:hover span {
            background-color: #000;
        }
    }
    &__title {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__hue-range {
        width: 300px !important; 
        margin-right: 10px;
        --thumbColor: rgb(0, 0, 0);
        &::-webkit-slider-thumb {
            width: 25px;
            height: 25px;
            border-radius: 12.5px;
            border: 2px solid #a2a2a2;
            background-color: var(--thumbColor);
            margin-top: -5px;
        }
        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 12.5px;
            border: 2px solid #a2a2a2;
            background-color: var(--thumbColor);
        }
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 15px;
            cursor: pointer;
            border-radius: 7.5px;
            background-image: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
        }
        &::-moz-range-track {
            width: 100%;
            height: 15px;
            cursor: pointer;
            border-radius: 7.5px;
            background-image: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
            // border: 0.2px solid #010101;
        }
    }
    &__lock {
        padding: 0;
        background-color: transparent;
        border: none;
        margin-right: 10px;
        svg {
            height: 25px;
            width: 25px;
            fill: #636363;
            transition: all 0.3s ease;
        }
        &:hover svg {
            fill: #000;
            transition: all 0.3s ease;
        }
    }
    &__button {
        background-color: transparent;
        border: 1px solid rgb(167, 165, 165);
        border-radius: 4px;
        font-size: 16px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
}
.color-picker-active {
    display: block;
}