.controls {
    height: 48px;
    background-color: rgb(252, 252, 252);
    border-top: 1px solid rgb(229, 229, 229);
    @media (max-width: 767px) {
        height: 64px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding: 0 60px;
        @media (max-width: 767px) {
            padding: 0 20px;
            justify-content: space-between;
        }
    }
    &__button-section {
        position: relative;
    }
    &__button {
        font-size: 20px;
        border: 1px solid rgb(167, 165, 165);
        background-color: #fff;
        border-radius: 5px;
        padding: 2px 8px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        @media (max-width: 767px) {
            font-size: 24px;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            @media (max-width: 767px) {
                background-color: #fff;
            }
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
    &__generate-button {
        margin-left: 20px;
        @media (max-width: 767px) {
            margin: 0;
        }
        &:hover + .controls__button-hint {
            opacity: 1;
            transition-delay: 1s;
        }
    }
    &__button-hint {
        z-index: 2;
        position: absolute;
        background-color: #fff;
        font-size: 18px;
        bottom: -12px;
        width: 150%;
        transform: translate(-16%, 100%);
        border: 1px solid rgb(215, 215, 215);
        border-radius: 4px;
        opacity: 0;
        transition: all 0.4s ease;
        user-select: none;
        &::after {
            content: '';
            border-left: 8px solid transparent;
            border-top: 10px solid transparent;
            border-bottom: 6px solid white;
            border-right: 8px solid transparent;

            
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translate(-50%, -100%);
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__undo, &__redo{
        // width: 30px;
        // height: 30px;
        font-size: 20px;
        margin-right: 10px;
        background-color: #fff;
        padding: 2px 4px;
        cursor: pointer;
        img {
            width: 20px
        }
        @media (max-width: 767px) {
            font-size: 24px;
            img {
                width: 24px
            }
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            @media(max-width: 767px) {
                background-color: #fff;
            }
        }
        &:active {
            background-color: rgba(0, 0, 0, 0.15);
            @media(max-width: 767px) {
                background-color: #fff;
            }
        }
    }
}